
/* NAV */
.navbar {
    background: #020022;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links {
    display: flex;
    padding: 1rem;
    font-size: large;
  }
  
  .navbar-links a {
    color: #f0f0f0;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    box-shadow: none;
    font-family: "JetBrains Mono";
    text-decoration: none;
    display: inline-block;
  }
  
  .navbar-links a:hover {
    /*transform: translate(4px, -4px);
    box-shadow: 4px -4px 0px #020022;*/
    color: #5F1E1E;
  }
  
  .navbar-links a.selected {
    background: #020022;
    color: #f0f0f0;
  }
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-links {
      flex-direction: column;
      gap: 1rem;
    }
  }