/* NAV CONTAINER */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

/* NAVBAR STYLING */
.navbar {
  background: #020022;
  display: flex;
  justify-content: left;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
}

/* Show nav on hover */
.navbar.shown {
  transform: translateY(0);
}

/* Hide nav by default */
.navbar.hidden {
  transform: translateY(-100%);
}

.navbar-links {
  display: flex;
  padding: 1rem;
  font-size: large;
}

.navbar-links a {
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  box-shadow: none;
  font-family: "JetBrains Mono";
  text-decoration: none;
  display: inline-block;
}

.navbar-links a:hover {
  color: #5F1E1E;
}

.navbar-links a.selected {
  background: #020022;
  color: #f0f0f0;
}

@media (max-width: 600px) {
  .navbar-links {
    flex-direction: column;
    gap: 1rem;
  }
}
