.narrative{
  background-color: #070707;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background: #f0f0f0;
  padding: 4px 8px;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  font-size: 13px;
  color: #070707;
  box-shadow: 0 2px 8px #070707;
  z-index: 9999;
  display: none;
}

.timeline-caption {
  color: #f0f0f0;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  max-width: 700px;
  margin: 0 auto;
}


.annotation-box {
  position: fixed;
  top: 20%;
  right: 30px;
  max-width: 300px;
  background-color:#020022;
  color: #f0f0f0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px #020022;
  z-index: 1000;
  font-size: 1rem;
  line-height: 1.4;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

body.scroll-locked {
  overflow: hidden;
  height: 100%;
}