body {
  background: #020022;
}

.App {
  display: flex;
  justify-content: space-between;  /* Distribute items to the left and right */
  align-items: flex-start;  /* Align the items to the top */
  color: #f0f0f0;
  padding: 50px;
}

.App h1 {
  font-family: "Unbounded";
}

.App p {
  font-family: "JetBrains Mono", monospace;
  font-size: large;
}

.App div {
  width: 45%;
}

.buttons {
  background-color: #f0f0f0;
  border: 3px #070707;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #070707;
}

.buttons:hover {
  background-color: #f0f0f0;
  border: 3px #5F1E1E;
  color: #5F1E1E;
}
